<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Helfer werden</h1>
            <h2 class="subtitle">Dein Ohr wird gebraucht!</h2>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <img class="center is-flex" src="/assets/logo.jpg" alt="logo" />        
    </div>
</section>
<section class="section">
    <div class="container">
        <p>Wir erwarten im Verlauf der Krise einen steigenden Bedarf von Hilfesuchenden - und deshalb brauchen wir jedes verfügbare Ohr!</p>
        <p>Aktiv statt passiv!</p>
        <ul style="list-style-type:disc">
            <li>Du willst nicht einfach nur untätig zuhause hocken und Netflix schauen?</li>
            <li>Du willst andere Menschen unterstützen - kannst aber selbst nicht raus?</li>
            <li>Du bist geschult in empathischem, wertschätzenden Zuhören? Du bist geübt im begleitenden Gespräch mit Menschen? entweder durch deinen Beruf, deine Ausbildung, dein Studium, durch Fortbildungen oder durch Praxis (Leitung von Selbsthilfegruppe, Trialog o.ä, GFK-Zertifikat, o.ä )</li>
        </ul>
        <p>Du könntest direkt bei jedem Anruf spüren, wie sinnvoll das ist was du tust.</p>
    </div>
</section>