<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Du brauchst ein offenes Ohr?</h1>
            <h2 class="subtitle">Wir haben mehrere!</h2>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <img class="center is-flex" src="/assets/logo.jpg" alt="logo" />        
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="buttons columns are-large">
            <a [routerLink]="['/help-search']" class="column button is-warning">
                <span>Ohne Registrierung Ohr finden</span>
            </a>
            <a [routerLink]="['/register']" class="column button is-info">
                <span>Registrieren und Ohr finden</span>
            </a>
            <a [routerLink]="['/register-helper']" class="column button is-primary">
                <span>Helfer werden</span>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <p>
            Menschen, die mit der aktuellen Situation nicht zurechtkommen, können bei Offene Ohren jederzeit kostenlos gut geschulte ZuhörerInnen finden. Gehört zu werden macht vieles besser erträglich, es öffnet neue Perspektiven - und bei Bedarf vermitteln wir weiter an konkrete Hilfsangebote vor Ort. Unser Ziel ist es, die bestehenden Systeme von Psychologen und Seelsorgern zu entlasten.
        </p>
        <ul style="list-style-type:disc">
            <li>Macht dir der Lockdown psychisch zu schaffen?</li>
            <li>Macht dir die aktuelle Situation Angst?</li>
            <li>Fühlst du dich einsam durch die soziale Isolation?</li>
            <li>Gibt es bei dir Zuhause Konflikte?</li>
            <li>Vielleicht hast du schon länger mit seelischen Krisen zu kämpfen und dir bricht momentan dein Sicherheitsnetz weg?</li>
            <li>Oder du möchtest ein gutes Gespräch führen, weil dir zu Hause die Decke auf den Kopf fällt?</li>
        </ul>
        <br/>
        <p>
            Wie wäre es, wenn du ganz anonym mit Menschen sprechen könntest, die Verständnis für deine Situation haben? Dass du dir alles von der Seele reden kannst, was dich gerade belastet. So dass du wieder ein Stück weit gelassen mit der Lage umgehen kannst und für dich das beste daraus machen kannst.
        </p>
        <br/>
        <h4 class="title is-4">Mit Offene Ohren bieten wir genau das an:</h4>
        <ul style="list-style-type:disc">
            <li>Geschulte, ehrenamtliche ZuhörerInnen - PsychologInnen, Coaches, LeiterInnen von Selbsthilfegruppen, GFK-Erfahrene</li>
            <li>Anrufe wahlweise mit oder ohne Video</li>
            <li>Eine positive und wertschätzende Haltung</li>
            <li>Zeit nur für dich</li>
            <li>Ggf. Weitervermittlung an externe oder lokale Dienste - z.B. für Einkaufshilfen, bei häuslicher Gewalt oder akuten psychischen Krisen</li>
        </ul>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="buttons columns are-large">
            <a [routerLink]="['/help-search']" class="column button is-warning">
                <span>Ohne Registrierung Ohr finden</span>
            </a>
            <a [routerLink]="['/register']" class="column button is-info">
                <span>Registrieren und Ohr finden</span>
            </a>
            <a [routerLink]="['/register-helper']" class="column button is-primary">
                <span>Helfer werden</span>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="title is-2">Wie funktioniert es?</h2>
        <ul style="list-style-type:disc">
            <li>Du kannst dich optional <a [routerLink]="['/register']">registrieren</a> - dann kannst du bei bei mehreren Hilfegesuchen Zeit sparen</li>
            <li>Oder du klickst auf <a [routerLink]="['/help-search']">"Ohne Registrierung Ohr finden"</a> um ein Hilfegesuch aufzugeben</li>
            <li>Mache einige Angaben zu deinem Hilfegesuch  - damit hilfst du uns dabei, die Hilfsgesuche zu priorisieren und ein passendes Ohr für dich zu finden</li>
            <li>Wähle aus, wie dringlich es ist? z.B. "ich brauche jemanden zum reden", "akute Krise"</li>
            <li>Wähle aus worum geht es ganz grob geht? z.B. Lagerkoller, Konflikte, Ängste oder Psychische Krise</li>
        </ul>
        <br/>
        <h2 class="title is-2">FAQs</h2>
        <strong>Kann ich das Angebot auch ohne Internetanschluss verwenden?</strong>
        <p>Im Moment ist das Angebot nur mit Internetanschluss möglich.</p>
        <strong>Muss ich da per Video sichtbar sein?</strong>
        <p>Nein, Video ist optional</p>
        <strong>Was kostet das?</strong>
        <p>Unser Angebot ist für dich kostenlos - möglicherweise fallen Gebühren für die Datenübertragung bei deinem Internetprovider an.</p>
        <strong>Wie finanziert ihr das?</strong>
        <p>Die Ohren stellen ihre Zeit ehrenamtlich zur Verfügung. Ebenso die Programmierer. Die Kosten für Server, Homepage etc. - ?</p>
        <br/>
    </div>
</section>