<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Du brauchst ein offenes Ohr?</h1>
            <h2 class="subtitle">Wir haben mehrere</h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <img class="center is-flex" src="/assets/logo.jpg" alt="logo" />
        <p>
            Macht dir die aktuelle Situation Angst oder fühlst du dich einsam durch die soziale Isolation? Vielleicht hast du schon länger mit seelischen Krisen zu kämpfen und dir bricht momentan dein Sicherheitsnetz weg oder du möchtest ein gutes Gespräch führen, weil dir zu Hause die Decke auf den Kopf fällt. Wir verstehen, dass es nicht immer einfach ist um Hilfe zu bitten.
            Wir von ‚Offene Ohren‘ möchten uns in seelischen Krisen als Gesprächspartner zur Verfügung stellen. Wie das funktioniert?
        </p>
        <ul>
            <li>Xxxxx</li>
            <li>Xxxxx</li>
            <li>Xxxxx</li>
            <li>Xxxxx</li>
        </ul>
        <p>Und finde ein Ohr!</p>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-3 is-parent">
                <div class="tile notification is-warning">
                    <a [routerLink]="['/help-search']">
                        <span>Brauchst du schnell mal ein Ohr, ohne dich dafür registrieren zu wollen? Hier bist du richtig!</span>
                    </a>
                </div>
            </div>
            <div class="tile is-3 is-parent">
                <div class="tile notification is-info">
                    <span>Du brauchst ein Ohr, und bist bereits registriert? Dann komm hier entlang</span>
                </div>
            </div>
            <div class="tile is-3 is-parent">
                <div class="tile notification is-primary">
                    <span>Du kannst Helfen? Dann registriere dich doch jetzt hier als Helfer</span>
                </div>
            </div>
            <div class="tile is-3 is-parent">
                <div class="tile notification is-success">
                    <span>Hier kannst du dich Registrieren, falls du mal ein Ohr brauchst</span>
                </div>
            </div>
        </div>
    </div>
</section>